<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите название Фильма</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите дату выхода Фильма</label><br>
            <input type="date" name="date_out" />
        </p>
        <p>
            <label>Введите дату выхода Фильма</label><br>
            <input type="date" name="date_view" />
        </p>
        <p>
            <label>Введите Актеров из Фильма</label><br>
            <input type="textarea" name="actors" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>